{% extends 'base.html.twig' %}

{% block title %}New Association{% endblock %}

{% block body %}
    {{ include('association/_form.html.twig') }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
