{% extends 'base.html.twig' %}

{% block title %}New Association{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {{ include('association/_form.html.twig', {'button_value': 'Continuer mon inscription', 'title': 'Inscription de l\'association'}) }}
{% endblock %}
