body {
    background-color: white !important;
}
root {
    --ShareAsso-mainColor: #EB6A26;
}


.mainBgColor {
    background-color: var(--ShareAsso-mainColor);
}


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
