{% extends 'base.html.twig' %}

{% block title %}New Deal{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <h1>DEAL</h1>

    
    {{ include('deal/_form.html.twig') }}

    

    <a href="{{ path('home') }}">Retour</a>
{% endblock %}
