{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {{ include('user/_form.html.twig',{'title': 'Inscription de l\'utilisateur'}) }}

    
{% endblock %}
