<h1>Bonjour {{ user.userFirstname }} {{ user.userLastname }},</h1>

    <p>
        Votre inscription a bien été prise en compte.
        <br>
        Vous pouvez maintenant vous connecter sur notre <a href="{{ path('login') }}">site</a> !
    </p>